@font-face {
  font-family: 'timer';
  src: url(font/CursedTimerUlil-Aznm.ttf);
}

body {
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #1b244a;
  color: white;
  padding: 55px 0;
  text-align: center;
  align-items: center;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.score-container {
  background-color: black;
  color: #f94f6d;
  font-family: 'timer', san-serif;
  height: 200px;
  width: 250px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: 8rem;
}

.score-button {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-family: 'timer', sans-serif;
  padding: 20px;
  font-size: 1.5rem;
  background-color: #1b244a;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: #303f84;
  transition: all 0.5s;
}

.dim {
  color: #943446;
}

.reset,
.restart {
  height: 100px;
  width: 150px;
}

.restart {
  margin-bottom: 30px;
}

.extra-btn {
  width: 150px;
}
